@model ExpensesManager.Models.ExpenseType

@{
    Layout = null;
    ViewData["Title"] = "Deletar";
}


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Excluir tipo de despesa</h4>
        </div>
            <div class="modal-body">
                <p>Deseja mesmo exluir o tipo de despesa <strong>@Model.Name</strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
                <button type="submit" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-ok"></i></button>
            </div>
    </div>
</div>