@model ExpensesManager.Models.Expense

@{
    Layout = null;
    ViewData["Title"] = "Nova";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Adicionar nova despesa</h4>
        </div>
        <form asp-action="CreateCurrent">
            <input type="hidden" asp-for="MonthId" value="@DateTime.Now.Month" />
            <div class="modal-body">
                <div class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label col-md-3"></label>
                        <div class="col-md-6">
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ExpenseTypeId" class="control-label col-md-3"></label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <select asp-for="ExpenseTypeId" class="form-control" asp-items="ViewBag.ExpenseTypeId"></select>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary add" data-toggle="tooltip" data-placement="right" title="Novo tipo de despesa"><i class="glyphicon glyphicon-plus-sign"></i></button>
                                </span>
                            </div>
                            <span asp-validation-for="ExpenseTypeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Value" class="control-label col-md-3"></label>
                        <div class="col-md-6">
                            <input asp-for="Value" class="form-control" onkeyup="k(this)" />
                            <span asp-validation-for="Value" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
                <button type="submit" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-ok"></i></button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modal" role="dialog"></div>

<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/bundle.min.js"></script>