
@{
    ViewData["Title"] = "Estatísticas";
}

<h2 class="text-center text-primary">Estatísticas</h2>

<div class="row">
    <div class="col-md-4 form-horizontal">
        <label class="control-label col-md-4">Mês</label>
        <div class="col-md-8">
            <select class="form-control month" asp-items="ViewBag.months"></select>
        </div>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-4 col-xs-12 text-center">
        <partial name="_IncomesExpenses" />
    </div>
    <div class="col-md-4 col-xs-12 text-center">
        <partial name="_IncomesType" />
    </div>
    <div class="col-md-4 col-xs-12 text-center">
        <partial name="_ExpensesType" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12">
        <partial name="_Total" />
    </div>
</div>

<div class="row">
    <div class="text-center">
        @await Component.InvokeAsync("Statistics")
    </div>
</div>

@section Scripts{
    <script src="~/js/bundle.min.js"></script>


    <script>
        LoadDataIncomesExpenses();
        LoadDataMonthlyExpensesType();
        LoadDataMonthlyIncomesType();
        LoadDataIncomesExpensesTotal();
    </script>
}

<style>
    .centered {
        margin: 0 auto !important;
        float: none !important;
    }
</style>